.Cryptocurrency {
    display: block;
    overflow: hidden;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 2px solid #778899;
}

.Cryptocurrency:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.Cryptocurrency-header,
.Cryptocurrency-body,
.Cryptocurrency-fooder {
    color: #fff;
    padding: 8px;
}

.Cryptocurrency-header {
    background: #ecf0f1;
    color:  #34495e;
    font-weight: bold;
    position: relative;
}

.Cryptocurrency-body.green {
    background: #27ae60;
}

.Cryptocurrency-body.red {
    background: #e74c3c;
}

.Cryptocurrency-body {
    background: #34495e;
    transition: background-color 600ms linear;
}

.Cryptocurrency-fooder {
    font-size: 0.8em;
    background: #2c3e50;
}

.Cryptocurrency .icon {
    background-image: url('./currencies.png');
    background-size: 176px 158px;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
}

.Cryptocurrency .up {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px 10px;
}

.Cryptocurrency .up span {
    padding: 4px;
    position: relative;
    top: 3px;
    display: inline-block;
    border: solid #2c3e50;
    border-width: 0 3px 3px 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.Cryptocurrency-body,
.Cryptocurrency .up {
    cursor: pointer;
}

.Cryptocurrency #BTC {
    background-position: 0 -142px;
}

.Cryptocurrency #ETH {
    background-position: -128px -16px;
}

.Cryptocurrency #BCH {
    background-position: -32px -142px;
}

.Cryptocurrency #BTG {
    background-position: -16px -142px;
}

.Cryptocurrency #DASH {
    background-position: -128px -112px;
}

.Cryptocurrency #XRP {
    background-position: -80px 0;
}

.Cryptocurrency #ZEC {
    background-position: -16px 0;
}

.Cryptocurrency #XLM {
    background-position: -160px -76px;
}