.Cryptocurrency {
    display: block;
    overflow: hidden;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #778899;
}

.Cryptocurrency-header,
.Cryptocurrency-body,
.Cryptocurrency-fooder {
    color: #fff;
    padding: 8px;
}

.Cryptocurrency-header {
    background: #ecf0f1;
    color:  #34495e;
    font-weight: bold;
    position: relative;
}

.Cryptocurrency-body.green {
    background: #27ae60;
}

.Cryptocurrency-body.red {
    background: #e74c3c;
}

.Cryptocurrency-body {
    background: #34495e;
    transition: background-color 600ms linear;
}

.Cryptocurrency-fooder {
    font-size: 0.8em;
    background: #2c3e50;
}

.icon {
    background-image: url('./currencies.png');
    background-size: 176px 158px;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
}

#BTC {
    background-position: 0 -142px;
}

#ETH {
    background-position: -128px -16px;
}

#BCH {
    background-position: -32px -142px;
}

#BTG {
    background-position: -16px -142px;
}

#DASH {
    background-position: -128px -112px;
}

#XRP {
    background-position: -80px 0;
}

#ZEC {
    background-position: -16px 0;
}